[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = git@github.com:altercation/ethanschoonover.com.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "aithops"]
	url = ssh://aithops//srv/www/domains/ethanschoonover.com
        push = +master:refs/heads/master
